/* Custom CSS
------------------------------------------------------------ */
*{
box-sizing:border-box;
}
.full-width-content .site-inner, .full-width-content .content-sidebar-wrap, .full-width-content .content{
width:100%;
max-width:none;
}
.container{
overflow:hidden;
}
.content-wrap{
width:1060px;
margin-left:auto;
margin-right:auto;
}
@font-face {
    font-family: 'aaargh';
    src: url('fonts/aaargh/Aaargh-webfont.eot');
    src: url('fonts/aaargh/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/aaargh/Aaargh-webfont.woff') format('woff'),
         url('fonts/aaargh/Aaargh-webfont.ttf') format('truetype'),
         url('fonts/aaargh/Aaargh-webfont.svg#aaargh') format('svg');
    font-weight: normal;
    font-style: normal;
}
.mb-30{
margin-bottom:30px !important;
}
.mt-50{
margin-top:50px !important;
}
.mb-50{
margin-bottom:50px !important;
}
.pt-50{
padding-top:50px;
}
.pb-50{
padding-bottom:50px;
}
.t-i{
	font-style:italic;
}
.t-center{
text-align:center;
}
.t-gray{
color:gray !important;	
}
.bg-lightgray{
background:#F7F7F7;
}
.bg-black{
background:#000000;
}
body.home .nav-primary{
display:none;
}
.one-third{
width:33.33%;
}
.one-fourth{
width:25%;
}
.h-box{
height:250px;
padding:20px;
margin:0;
text-align:center;
}
.h-box img{
height:60px;
display:block;
margin:35px auto 50px; 
}
.h-box p{
color:#FFFFFF;
font-size:1.4rem;
font-weight:bold;
font-family:'aaargh','sans-serif';
}
#h-relationships{
background:#D2000F;
}
#h-fear{
background:#F8E700;
}
#h-fear p{
color:#4A4A4A;
}
#h-passion{
background:#104E99;
}
#h-health{
background:#7BD300;
}
#h-spirituality{
background:#8230CC;
}
#h-dreamjob{
background:#F6A600;
}
.h-seen{
margin:0;
}
.h-seen img{
height:50px;
display:block;
margin-left:auto;
margin-right:auto;
}
#h-care2 img{
height:70px;
margin-top:-20px;
}
#h-struggle h2, #h-struggle p{
color:#FFFFFF;
}


/* Custom Responsive CSS
------------------------------------------------------------ */
@media only screen and (max-width: 1140px) {

}

@media only screen and (min-width: 840px) and (max-width: 1140px) {

}

@media only screen and (min-width: 480px) and (max-width: 1140px) {

}

@media only screen and (max-width: 839px) {

}

@media only screen and (min-width: 480px) and (max-width: 839px) {

}

@media only screen and (max-width: 479px) {

}