/* Custom CSS
------------------------------------------------------------ */
*{
box-sizing:border-box;
}
.clearfix{
clear:both;
}
.clearfix:after{
content: "."; 
visibility: hidden; 
display: block; 
height: 0; 
clear: both;
}
.fr{
float:right !important;
}
.fl{
float:left !important;
}
.last{
margin-right:0 !important;
}
.bt-gray{
border-top:1px solid #F1F1F1;
}
h1, h2, h3, h4, h5, h6{
font-weight:400 !important;
}
@font-face {
    font-family: 'aaargh';
    src: url('../fonts/aaargh/Aaargh-webfont.eot');
    src: url('../fonts/aaargh/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aaargh/Aaargh-webfont.woff') format('woff'),
         url('../fonts/aaargh/Aaargh-webfont.ttf') format('truetype'),
         url('../fonts/aaargh/Aaargh-webfont.svg#aaargh') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'phosphatesolid';
    src: url('../fonts/phosphate/phosphate-solid-webfont.eot');
    src: url('../fonts/phosphate/phosphate-solid-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/phosphate/phosphate-solid-webfont.woff2') format('woff2'),
         url('../fonts/phosphate/phosphate-solid-webfont.woff') format('woff'),
         url('../fonts/phosphate/phosphate-solid-webfont.ttf') format('truetype'),
         url('../fonts/phosphate/phosphate-solid-webfont.svg#phosphatesolid') format('svg');
    font-weight: normal;
    font-style: normal;
}
iframe,
object,
embed{
border:15px solid lightgray;
-webkit-border-radius: 15px !important; 
-ms-border-radius: 15px !important; 
-o-border-radius: 15px !important; 
border-radius: 15px !important;
display: block;
margin-left: auto;
margin-right: auto;
}
.f-phosphate{
font-family:'phosphatesolid', 'sans-serif' !important;
letter-spacing:2px;	
}
.content, .site-inner{
padding-bottom:0;
}
.site-footer{
border:0;	
}
.site-footer p{
text-align:left;
font-size:1.4rem;
}
.full-width-content .site-inner, .full-width-content .content-sidebar-wrap, .full-width-content .content{
width:100%;
max-width:none;
}
.container{
overflow:hidden;
}
.content-wrap{
width:1060px;
margin-left:auto;
margin-right:auto;
}
.one-half{
width:50%;
margin:0;
}
.one-third{
width:33.33%;
margin:0;
}
.one-fourth{
width:25%;
margin:0;
}
.mb-30{
margin-bottom:30px !important;
}
.mb-40{
margin-bottom:40px !important;
}
.mb-50{
margin-bottom:50px !important;
}
.mb-60{
margin-bottom:60px !important;
}
.mb-70{
margin-bottom:70px !important;	
}
.pt-50{
padding-top:50px !important;
}
.pb-30{
padding-bottom:30px !important;
}
.pb-40{
padding-bottom:40px !important;
}
.pb-50{
padding-bottom:50px !important
}
.pb-60{
padding-bottom:60px !important
}
.pb-70{
padding-bottom:70px !important
}
.t-i{
font-style:italic;
}
.t-center{
text-align:center;
}
.t-uppercase{
text-transform:uppercase;
}
.t-gray{
color:gray !important;	
}
.t-white{
color:white !important;
}
.bg-lightgray{
background:#F7F7F7;
}
.bg-black{
background:#000000;
}
.bg-grayblack{
background:#474747;
}
.bg-brown{
background:#977B53;
}
.bg-grayblue{
background:#586579;	
}
.bg-cream{
background:#FFF7E0;
}
.bg-brilliant{
background:url('http://exceptionallifeinstitute.com/wp-content/uploads/brilliant.png');	
}
.b-orange{
background:#FF7600;
color:#FFFFFF;
font-weight:bold;
font-size:2.0rem;
padding:15px 60px;
border-style:none none solid none;
border-width:5px;
border-color:#C55B00;
font-family:'PT Sans', 'sans-serif';
letter-spacing:0.5px;
}
.b-more{
background:#00B3FF;;
color:#FFFFFF;
font-size:1.4rem;
padding:5px 12px;
border-style:none none solid none;
border-width:5px;
border-color:#0084BC;
font-family:'PT Sans', 'sans-serif';
letter-spacing:0.5px;
margin-top:10px;
}
.triangle-isosceles {
  position:relative;
  padding:20px 25px;
  margin:1em 0 3em;
  color:#000;
  background:lightgray;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
font-size:1.6rem !important;
}
.triangle-isosceles:after {
  content:"";
  position:absolute;
  bottom:-15px; /* value = - border-top-width - border-bottom-width */
  left:50px; /* controls horizontal position */
  border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:lightgray transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}
.ribbon{
 /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
 position: relative;
 background: orange;
 text-align: center;
 padding: 14px 0 5px; /* Adjust to suit */
 margin: 0 auto;
}

.ribbon:before{
left: -51px;
border-right-width: 40px;
border-left-color: transparent !important;	
}
.ribbon:after{
right: -51px;
border-left-width: 40px;
border-right-color: transparent !important;
}

.ribbon:before, .ribbon:after{
content: "";
position: absolute;
display: block;
bottom: 0;
border: 38px solid orange;
z-index: -1;	
}
.relationships.ribbon{
width:52%;
}
.relationships.ribbon:before, .relationships.ribbon:after{
border-color: #D2000F;	
}
.confidence.ribbon{
width:73%;
}
.confidence.ribbon:before, .confidence.ribbon:after{
border-color: #F8E700;	
}
.passion.ribbon{
width:55%;
}
.passion.ribbon:before, .passion.ribbon:after{
border-color: #0F4E99;	
}
.health.ribbon{
width:45%;
}
.health.ribbon:before, .health.ribbon:after{
border-color: #7BD300;	
}
.spirituality.ribbon{
width:58%;
}
.spirituality.ribbon:before, .spirituality.ribbon:after{
border-color: #8230CC;	
}
.career.ribbon{
width:54%;
}
.career.ribbon:before, .career.ribbon:after{
border-color: #F6A600;	
}
.non-semantic-protector{position: relative; z-index: 1;}
.h-box{
height:250px;
padding:20px;
text-align:center;
}
.h-box img{
height:60px;
display:block;
margin:35px auto 50px; 
}
.h-box p{
color:#FFFFFF;
font-size:1.4rem;
font-weight:bold;
font-family:'aaargh','sans-serif';
}
.relationships{
background:#D2000F;
}
.confidence{
background:#F8E700;
}
.confidence p{
color:#4A4A4A;
}
.passion{
background:#104E99;
}
.health{
background:#7BD300;
}
.spirituality{
background:#8230CC;
}
.career{
background:#F6A600;
}
.h-seen{
margin:0;
}
.h-seen img{
height:50px;
display:block;
margin-left:auto;
margin-right:auto;
}
#h-care2 img{
height:70px;
margin-top:-20px;
}
#h-struggle h2, #h-struggle p{
color:#FFFFFF;
}
.h-meet, .h-solution{
padding:0 20px;
}
.h-meet img, .h-solution img{
height:70px;
margin-bottom:15px;
}
#h-learning h2, #h-learning p{
color:#FFFFFF;
}
.h-speech{
padding:0 20px;
}
.h-speech.one-half{
width:48%;
}
.h-speech img{
-webkit-border-radius: 110px !important; 
-ms-border-radius: 110px !important; 
-o-border-radius: 110px !important; 
border-radius: 110px !important;
border:4px solid #3D256E;
width:90px;
float:left;
margin-right:15px;
}
p.test-name, p.test-loc{
margin:0;
}
p.test-name{
font-size:2.0rem;
margin-top:40px;
}
p.test-loc{
font-size:1.6rem;
}
form{
font-family:'PT Sans', 'sans-serif';
}
#_form_14 input[type=text], #_form_14 input[type=email]{
width:100%;
margin-bottom:25px;
border:2px solid lightgray;
padding:12px;
-webkit-border-radius: 5px !important; 
-ms-border-radius: 5px !important; 
-o-border-radius: 5px !important; 
border-radius: 5px !important;
}
#_form_14 input[type=submit]{
width:100%;
background:#00B3FF;
color:#FFFFFF;
font-weight:bold;
font-size:1.8rem;
padding:12px 20px;
border-style:none none solid none;
border-width:5px;
border-color:#0084BC;
-webkit-border-radius: 5px !important; 
-ms-border-radius: 5px !important; 
-o-border-radius: 5px !important; 
border-radius: 5px !important;
letter-spacing:0.5px;
}
#_form_14 .formwrapper{
width: 45%;
margin-left: auto;
margin-right: auto;
}
#_form_14 ._label{
font-size:1.8rem;
margin-left:2px;
font-weight:bold;
}

#_form_14 #notice{
display:none;
}
.improve-life a{
display:block;
font-family:'PT Sans', sans-serif;
font-size:1.8rem;
}
.hero-wrap{
background:orange;
overflow:auto;
padding:40px;
}
.hero-copy{
width:50%
}
.hero-copy p{
margin:0;
}
.s-title{
font-family:"Lato", sans-serif !important;
font-weight:400;
text-transform:uppercase;
text-align:center;
font-size:2.0rem;
}
p.s-category{
padding:8px 10px;
font-size:1.5rem;
margin-right:0.5%;
text-transform:uppercase;
float:left;
font-family:"Lato", sans-serif;
text-align:center;
width:13.85%;
letter-spacing:0.5px;
font-weight:bold;
}
.s-box{
overflow:auto;
clear:both;
background:white;	
margin-bottom:20px;
padding:30px 60px;
}
.s-box h2{
font-family:"Lato", sans-serif !important;
font-weight:bold !important;
text-transform:uppercase;
text-align:center;
font-size:2.2rem !important;
letter-spacing:1px;
}
.s-item img{
width:90px;
float:left;
margin:5px 20px 50px 0;
}
.s-item p{
margin:0;
overflow:auto;
font-size:1.6rem;
line-height:1.5;
}
.s-item{
float:left;
width:45%;
}
.s-item h3{
font-size:2.2rem !important;
}
.s-item button{
display:block;	
}
.fundamentals{
background:gray;
}

/* Custom Responsive CSS
------------------------------------------------------------ */
@media only screen and (max-width: 1140px) {

}

@media only screen and (min-width: 840px) and (max-width: 1140px) {

}

@media only screen and (min-width: 480px) and (max-width: 1140px) {

}

@media only screen and (max-width: 839px) {

}

@media only screen and (min-width: 480px) and (max-width: 839px) {

}

@media only screen and (max-width: 479px) {

}